@use '../../styles/_breakpoint' as *;

.profile-info {
  background-color: #ffffff;
  width: 39%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 38%;
  }

  &__image {
    width: 200px;
    height: 200px;
  }

  &__stats {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 80%;

    @include mobile {
      width: 90%;
    }

    @include tablet {
      width: 85%;
    }

    .stat-friends {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      color: #7a7a7a;
      margin-bottom: 10px;
    }

    .stat-posts {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      color: #7a7a7a;
      margin-bottom: 10px;
    }

    .stat-comments {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      color: #7a7a7a;
      margin-bottom: 10px;
    }
  }

  &__details {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    @include mobile {
      margin-top: 20px;
    }

    @include tablet {
      margin-top: 25px;
    }

    .details-name {
      font-size: 16px;
      color: #7a7a7a;
      font-weight: 600;

      @include mobile {
        font-size: 14px;
      }

      @include tablet {
        font-size: 15px;
      }
    }

    .details-address {
      font-size: 12px;
      color: #7a7a7a;
      margin-bottom: 10px;

      @include mobile {
        font-size: 10px;
      }

      @include tablet {
        font-size: 11px;
      }
    }
  }

  &__bio {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    @include mobile {
      margin-top: 20px;
    }

    @include tablet {
      margin-top: 25px;
    }

    .bio-title {
      font-size: 14px;
      color: #7a7a7a;
      font-weight: 600;

      @include mobile {
        font-size: 12px;
      }

      @include tablet {
        font-size: 13px;
      }
    }

    .bio-content {
      font-size: 14px;
      color: #7a7a7a;
      margin-top: 10px;

      @include mobile {
        font-size: 12px;
        margin-top: 5px;
      }

      @include tablet {
        font-size: 13px;
        margin-top: 7px;
      }
    }
  }

  &__about {
    margin-top: 30px;
    color: #7a7a7a;
    text-align: center;

    @include mobile {
      margin-top: 20px;
      font-size: 14px;
    }

    @include tablet {
      font-size: 15px;
    }
  }

  &__btn {
    margin-top: 30px;
    color: #3b70d3;
    font-weight: 600;
    text-decoration: none;

    @include mobile {
      margin-top: 20px;
      font-size: 14px;
    }

    @include tablet {
      font-size: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
